colorama==0.4.6
torch==2.3.0
torchvision==0.18.0
torchaudio==2.3.0
torchtext==0.18.0
numpy==1.26.3
pandas==2.2.3
matplotlib==3.9.4
scipy==1.13.1
shapely==2.0.4
scikit-learn==1.4.2
seaborn==0.13.2
wandb==0.19.11
toml==0.10.2
tomli==2.2.1
torchdata==0.9.0
portalocker>=2.0.0
ruff
black
mypy
commitizen